<div class="tigers-container text-center">
  <div class="card-top">
    <h1 class="header-edit">Edit <%= @tiger.name %></h1>
    <%= link_to "Back to #{@tiger.name}?", tiger_path(@tiger), class: 'button-link' %>
  </div>
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
