<div class="tigers-container">
  <div class="container-top text-center">
    <h1>List a tiger for hire</h1>
    <%= link_to 'Back to tigers', root_path, class: 'button-link button-space' %>
  </div>
  <div class="form">
    <%= render 'tigers/form' %>
  </div>
</div>
