<div class="footer">

  <div class="footer-links-left">
    <ul class="unordered-list">
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">FAQs</a></li>
    </ul>
  </div>

  <div class="copyrights" align="center">
    <strong>
    <p>Copyright © 2019 Tigers RnR, Inc. All rights reserved.</p>
    <p>Use of this site constitutes acceptance of the user agreement.</p>
    </strong>
  </div>


  <div class="footer-links">
     Follow us :
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://au.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
