<div class="banner d-flex justify-content-around align-items-center">
  <div class="landing-form text-left">
    <h1>Tiger's Rent and Run</h1>
    <p>Meet the greatest felines in the world.</p>
    <div class="search-button text-right">
      <%= link_to 'Search', tigers_path, class: 'button'  %>
    </div>
  </div>
</div>
