.button {
  background: rgba(255,106,0,0.8);
  padding: 12px 24px;
  margin: 0;
  border-radius: 2px;
  border: 0;
  transition: 0.2s;
  color: #fff;

  &:hover {
    background: rgba(255,106,0,1);
    color: #fff;
    text-decoration: none;
  }
}

.button-sm {
  padding: 6px 12px;
}

.card-button {
  &:hover {
    text-decoration: none;
  }
}
