// .card-background {
//   background-image: url('https://images.unsplash.com/photo-1534067783941-51c9c23ecefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
//   background-size: cover;
//   width: 100%;
//   height: 100%;
// }
.card-show {
    color: #ffeed1;
    margin: 36px;
  }

.card-grid {
  margin: 72px auto;
  height: 100vh;
  width: 100%;
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;

  p {
    color: rgba(255,106,0,0.8);
  }

  .card-tiger {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 2px;
    background: #fff;
    transition: 0.2s;

    &:hover {
      transform: scale(1.01);
    }

    .card-link {
      height: 100%;
      width: 100%;
    }

    .card-image {
      width: 40%;
      height: 100%;
    }

    .card-details {
      text-align: left;
      width: 100%;
      height: 100%;
      position: relative;

      .card-buttons {
        position: absolute;
      }
    }
  }
}
