// .card-background {
//   background-image: url('https://images.unsplash.com/photo-1534067783941-51c9c23ecefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
//   background-size: cover;
//   width: 100%;
//   height: 100%;
// }
.card-show {
    color: #ffeed1;
    margin: 36px;
  }

.card-grid {
  margin: 72px auto;
  height: 100vh;
  width: 100%;
  padding: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  p {
    color: rgba(255,106,0,0.8);
  }

  .card {
    border: 0;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      color: $main;
      transform: scale(1.01);
    }

    .card-tiger {
      height: 272px;
      padding: 0;
      margin: 0;
      border: 0;
      border-radius: 4px 4px 0 0;
      background: #fff;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      color: #fff;
    }
    .card-tab {
      color: $main;
      padding: 12px 0 0;
      font-size: 14px;

      p {
        margin: 0;
      }
    }

    .card-details {
      color: $main;
      padding: 12px 0 0;
      font-size: 14px;

      p {
        margin: 0;
      }
    }
  }
}
