.container, .container-fluid {
  margin-top: 80px !important;
}

.container-fluid {
  padding: 0;
}

.container-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 72px;
  margin: 72px 0;
}

.tigers-container {
  width: 90vw;
  margin: 96px auto;
}


.container-top {
  padding: 24px 48px;
  & > * {
    margin: 0;
  }
}

.page-container {
  min-height: 80vh;
}

.container-fluid {
  .container-top {
    padding: 0 36px
  }
}
