.notice {
  margin: 0;
}

.landing-form {
  width: 30%;
  background: #fff;
  color: #333;
  text-align: center;
  padding: 30px;
  border-radius: 4px;
  position: absolute;
  top: 35%;
  right: 96px;
  box-shadow: 0.3px 0.3px 12px 2px #333;
  background-color: rgba(225, 225, 255, 0.30);
}

.landing-form:hover {
  background-color: rgba(225, 225, 255, .80);

}


